body{
 margin:0px;
  text-align: center;
  font-family:'Merriweather',serif;
 color:#40514E;
}
h1{
  margin-top:0px;
  font-family: 'Sacramento',cursive;
  font-size:5.625rem;
  margin-top:50px auto 0px auto;
    color:#66BFBF;


}
h2{
  font-family:'Montserrat',sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
}
h3{

    font-family:'Montserrat',sans-serif;
    color:#11999E;

}
p{
  line-height:2;
}
.top_cloud{
  position: absolute;
  right:300px;
  top:40px;

}


.bottom_cloud{
  position: absolute;
  left:250px;
  bottom:300px;
}
.intro{
  width:30%;
  margin: auto;
}
.top{
  background-color:#E4F9F6;
  position:relative;
  padding-top:100px;

}
.middle{
  margin:100px 0px;

}

span{
  text-decoration: underline;
}
.profile_pic{
  height: 200px;
  vertical-align: middle;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height:2;


}
.web_pic{
  width:25%;
  float:left;
  margin-right:30px;
  margin-bottom:10px;
}
.robot_pic{
  width:25%;
  float:right;
  margin-left:30px;
}

hr{
  border:dotted #EAF6F6 6px;
  width:4%;
  border-bottom: none;
  margin:100px auto;
}
.bottom{
  background-color:#66BFBF;
  padding:50px;
}
.footer-link{
  color:#11999E;
  margin:25px;
  line-height:4;
  text-decoration:none;
}
.footer-link:hover{
  color:red;

}
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2179b0);
  background-image: -moz-linear-gradient(top, #66BFBF, #2179b0);
  background-image: -ms-linear-gradient(top, #66BFBF, #2179b0);
  background-image: -o-linear-gradient(top, #66BFBF, #2179b0);
  background-image: linear-gradient(to bottom, #66BFBF, #2179b0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #394a66;
  background-image: -webkit-linear-gradient(top, #394a66, #125a8a);
  background-image: -moz-linear-gradient(top, #394a66, #125a8a);
  background-image: -ms-linear-gradient(top, #394a66, #125a8a);
  background-image: -o-linear-gradient(top, #394a66, #125a8a);
  background-image: linear-gradient(to bottom, #394a66, #125a8a);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 100px;
}
.cont{

  width:30%;
  margin:40px auto;
}
